* {
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
}

:root{
    --font-family: "poppins", sans-serif; 
    --roxo: #845ec2;
    --cinzae: #A9A9A9;
    --cinzac: #D3D3D3;
    --body:	#f5f5f5;
    --border-radius: 5px;
}

body {
    background-color: var(--roxo);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.body-form {
    width: 428.8px;
    height: 600px;
    background-color: var(--body);
    border-radius: 6px;
}

.logo {
    font-family: var(--font-family);
    color: var(--cinzae);
    font-size: 0,6em;
    text-align:center;
    margin: 45px;
}

.lines-form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin: 30px 0;
}

form .input-block {
    margin-bottom:12px;
}

form .input-block input {
    width: 340px;
    height: 32px;
    padding: 20 px;
    background-color:var(--cinzac);
    outline-color: var(--roxo);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--cinzac);
    margin: 0 auto 0 auto;
}

/*conferir pq nao ta aparecendo*/
.rectangle {
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--cinzac);
    margin: 0 auto 0 auto;

}


